/*css suxx*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*font-family: "Roboto", sans-serif;*/
    font-family: 'Roboto', sans-serif;
}


/* header */

header {
    height: 100vh;
    min-height: 500px;
    background-image: url(img/CASQUE_POMPIER_LAMPLA.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-style: solid;
    border-width: thick;
    border-bottom-color: #cc0000;
}

.logo {
    /*format à définir pour SVG*/
    margin: 1rem;
}

.intro {
    display: flex;
    flex-wrap: nowrap;
}

.preTxt {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    color: #ffffff;
    /*margin-top: 5rem;*/
}

.preTxt-item {
    background-color: #139FC6;
}

.text-intro {
    padding-top: 15rem;
    padding-bottom: 9rem;
}

H1 {
    font-size: 2.5rem;
    color: #ffffff;
    /* font-weight: 500;*/
}

H2 {
    /*font-size: 3.5rem;*/
    color: #ffffff;
    padding: 0.8rem;
    background-color: #139fc6;
    /* font-weight: 500;*/
}

.btn-custom {
    color: #FFFFFF;
    font-size: 20px;
    background: #17323F;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-custom:hover {
    background: #cc0000;
    color: #FFFFFF;
    text-decoration: underline;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


/*Début container*/

.pasvous {
    background-color: #175D79;
    border-bottom-style: solid;
    border-width: thick;
    border-bottom-color: #cc0000;
}

.acces {
    background-color: #06475E;
    border-bottom-style: solid;
    border-width: thick;
    border-bottom-color: #cc0000;
}

.adresse {
    margin: 0;
}

.social {
    margin: 0;
}

.btn-custom1 {
    color: #FFFFFF;
    font-size: 20px;
    background: #175D79;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-custom1:hover {
    background: #cc0000;
    color: #FFFFFF;
    text-decoration: underline;
}

.nous {
    background-color: #17323F;
    border-bottom-style: solid;
    border-width: thick;
    border-bottom-color: #cc0000;
}

i.fab {
    /* color: #cd1719; */
    color: #175D79;
    /*background-color: #FFFFFF;*/
}

.social-icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4em;
}

.social-icons:hover {
    background: #cc0000;
    color: #FFFFFF;
    text-decoration: underline;
}


/*pied de page*/

footer {
    background-color: #139FC6
}

.logofooter {
    /* width: 30em; */
    height: 20em;
    margin: 0 auto;
    padding: 1em;
}